<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <th:block th:replace="fragments/head :: head"></th:block>
<body>

    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container">
        <h1>Descubre nuestros ramos</h1>

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo de Flor</th>
                    <th>Precio</th>
                    <th>Floricultor</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="producto : ${productos}">
                    <td th:text="${producto.nombre}">Nombre</td>
                    <td th:text="${producto.tipoFlor}">Tipo</td>
                    <td th:text="${producto.precio}">0.0</td>
                    <td th:text="${producto.floricultor.nombre}">Floricultor</td>
                    <td>
                        <a th:href="@{/catalogo/producto/{id}(id=${producto.idProducto})}">Ver</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
