<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inventario del Floricultor</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <nav class="navbar">
        <a th:href="@{'/catalogo/productos/nuevo/'+ ${email}}" class="button">+ Añadir nuevo producto</a>
    </nav>

    <div class="container">
        <h1>Inventario del Floricultor</h1>

        <ul class="inventory-list">
            <li th:each="producto : ${productos}">
                <div class="inventory-item">
                    <span>
                        <strong th:text="${producto.nombre}">Nombre</strong> –
                        <span th:text="${producto.tipoFlor}">Tipo</span>,
                        Precio: <span th:text="${producto.precio}">0.0</span>,
                        Floricultor: <span th:text="${producto.floricultor.nombre}">Floricultor</span>
                    </span>
                    <a th:href="@{'/catalogo/eliminar/' + ${producto.idProducto} + '?email=' + ${email}}" class="delete-button">Eliminar</a>
                </div>
            </li>
        </ul>
    </div>

</body>
</html>
